html 
    head 
        title WEB2 PROJ 1 Users only
    body
        h1 This page is only for logged users
        h4 Your data is: #{user}        
        a(href='/', title='Home') Home    
        