html 
    head 
        title WEB2 PROJ1 Profile
    body
        if user 
            h1 You are currently #{username}.
        else
            h1 You are currently anonymous.
        if user 
            if admin
                h4 You are an admin.  
            else 
                h4 You are a registered user.
        else 
            h4 You are an unregistered user.      
        a(href='/', title='Home') Home     
        