html 
    head 
        title WEB2 PROJ1 HOME
    body
        if username
            h1 Welcome #{username}
        else 
            h1 Welcome anonymous
        ul 
            li: a(href='/', title='Home') Home
            li: a(href='/profile') Profile
            li: a(href='/private') Users only             
            if username
                li: form(action="/logout", method="get")
                    input(type="submit", value="Logout " + username)
            else
                li: a(href='/sign-up', title='Sign up') Sign up 
        